// COLORS
$text: #f5f5f5;
$subtext: #f5f5f584;
$rightPanelBackground: #010101;

//TEXT SIZES
$smText: 1em;
$mdText: 1.5em;
$lgText: 2em;
$xlText: 4em;
$xxlText: 6em;
$xxxlText: 8em;

//PADDINGS
$smPadding: 1em;
$mdPadding: 1.5em;
$lgPadding: 2em;
$xlPadding: 4em;
$xxlPadding: 6em;
$xxxlPadding: 8em;
